<div fxLayout="row wrap" style="background:red;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" fxFlex="90" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
      <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
      <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
      <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
      <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false" fxLayout.sm="column">
      <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" ngClass.sm="fullWidth">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="12" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.sm="20" [class.greenColor]="1 == &apos;1&apos;"></div>
          <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="12" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.sm="20" [ngClass]="{&apos;blueColor&apos;: 1 === &apos;1&apos;, &apos;purpleColor&apos;: 1 !== &apos;1&apos;}"></div>
          <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="12" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.sm="20"></div>
          <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="12" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.sm="20"></div>
        </div>
      </div>
      <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" ngClass.sm="fullWidth" fxHide.xs="true">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="12" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.sm="20"></div>
          <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="12" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.sm="20"></div>
          <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="12" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.sm="20"></div>
          <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="12" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.sm="20"></div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="background:white; height:100px;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    </div>
  </div>
</div>