<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" class="mainContainer" fxFlex="100" fxLayoutGap="27px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false" fxLayout.xs="column">
      <div fxLayout="column wrap" class="height firstSecYellow" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div>
          First Section A</div>
      </div>
      <div fxLayout="column wrap" class="height greenColor" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div>
          First Section B</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false" fxLayout.xs="column">
      <div fxLayout="column wrap" class="height firstSecMarroon" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div>
          Second Section A</div>
      </div>
      <div fxLayout="column wrap" class="height blueColor" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div>
          Second Section B</div>
      </div>
      <div fxLayout="column wrap" class="height orangeColor" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div>
          Second Section C</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false" fxLayout.xs="column">
      <div fxLayout="column wrap" class="height firstSecYellow" fxFlex="22" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div>
          Third Section A</div>
      </div>
      <div fxLayout="column wrap" class="height blueColor" fxFlex="22" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div>
          Third Section A</div>
      </div>
      <div fxLayout="column wrap" class="height purpleColor" fxFlex="22" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div>
          Third Section A</div>
      </div>
      <div fxLayout="column wrap" class="height greenColor" fxFlex="22" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div>
          Third Section A</div>
      </div>
    </div>
  </div>
</div>